@model List<BloodType>

<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of all roles</h5>

        <ul class="list-group list-group-flush container col-6">
            @foreach (var bloodType in Model) {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @bloodType.BloodTypeName
                    <span class="badge"><a class="btn btn-info" asp-controller="BloodTypes" asp-action="EditBloodType" asp-route-BloodTypeID="@bloodType.BloodTypeId">Edit</a></span>
                </li>
            }
        </ul>
    </div>
</div>