
<div class="container col-7 card">
    <div class="card-body">
        <h5 class="card-title">Create BloodType</h5>
        <form class="row g-3" asp-controller="BloodTypes" asp-action="AddNewBloodType" method="post">
            <div class="container col-8">
                <div class="mb-2">
                    <label class="form-label">Name</label>
                    <input  class="form-control" placeholder="Blood type name" name="BloodTypeName">
                </div>
                <div class="text-start mt-2">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
