@model List<CityModel> 

@{
    ViewData["Title"] = "Cities";
}
<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of all cities</h5>
        <ul class="list-group list-group-flush container col-6">
            @foreach (var city in Model) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @city.CityName
                <span class="badge"><a class="btn btn-info" asp-controller="Cities" asp-action="EditCity" asp-route-cityId="@city.CityId" method="post" >Edit</a></span>
            </li>
            }
        </ul>
    </div>
</div>