@model City

<div class="container col-7 card">
    <div class="card-body">
        <h5 class="card-title">Edit City Name</h5>
        <form class="row g-3" asp-controller="Cities" asp-action="EditCity" method="post">
            <div class="container col-8">
                <div class="mb-3 mt-2">
                    <input asp-for="@Model.CityId" type="hidden" class="form-control">

                    <label class="form-label">Edit City name</label>
                    <input asp-for="@Model.CityName" class="form-control">
                </div>
                <div class="text-start mt-2 mb-2">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

