<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloodBankApp</title>


    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="header" >
        <div class="container  d-flex align-items-center">
            <h3 class="logo me-auto"><a asp-area="" asp-controller="Home" asp-action="Index">BloodBankApp</a></h3>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Profile</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Sign out</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Hospitals</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
                <!--<partial name="_LoginPartial" />-->
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer >
        <div>
          
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
