@model List<IdentityRole<Guid>>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Links and buttons</h5>

        <div class="list-group">
            @foreach (var role in Model)
            {
                <button type="button" class="list-group-item list-group-item-action">@role.Name</button>
            }
        </div>

    </div>
</div>