@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h4 class="text-center mt-4 border-bottom pb-3">@ViewData["Title"]</h4>

<div class="container-fluid w-100 p-0 mb-3 d-flex justify-content-center">
    <div class="container ms-2 me-2 w-50 mt-4 mb-4 shadow rounded p-4" style="background-color: white">
        <form id="change-password-form" asp-controller="Profile" asp-action="ChangeSuperAdminPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="mb-2" asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" required />
            </div>
            <div class="form-group mt-3">
                <label class="mb-2" asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" required />
            </div>
            <div class="form-group mt-3">
                <label class="mb-2" asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" required />
            </div>
            <div class="d-flex justify-content-center mt-4 mb-3">
                <button id="update-profile-button" type="submit" class="btn btn-danger w-50">Update Password</button>
            </div>
            <p class="small mb-0"> <a asp-area="SuperAdmin" asp-controller="Profile" asp-action="Index">Back To Profile</a></p>
        </form>
    </div>
</div>

@await Component.InvokeAsync("Notyf")

