<div class="container-fluid w-100 p-0 d-flex justify-content-center">
    <div class="container ms-2 me-2 w-75 mt-5 mb-5">
        <h6 class="d-flex justify-content-center" style="color: #d1001f">Benefits</h6>
        <h1 class="d-flex justify-content-center mb-5" style="font-weight:800">Best Benefits From Donation</h1>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 gy-4">
            <div class="col">
                <div class="card text-center h-100">
                    <img src="~/Images/card1.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 800">Blood cell production</h5>
                        <p class="card-text">After a person donates blood, the body will replenish the blood loss by stimulating the production of new blood cells. The new blood cells would help in maintaining a person’s good health. </p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center h-100">
                    <img src="~/Images/card2.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 800">Lowering cancer risk</h5>
                        <p class="card-text">Donating blood helps lower the risk of cancer as the iron stores in the blood are maintained at healthy levels. When there is a reduced iron level in the body, it is linked to lower cancer risk.</p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center h-100">
                    <img src="~/Images/card3.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 800">Prevents hemochromatosis</h5>
                        <p class="card-text">Donating blood would reduce the risk of developing hemochromatosis. This health condition could be inherited at our cost due to alcoholism, anaemia and various other disorders.</p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>