<div class="container-fluid w-100 p-0 d-flex justify-content-center">
    <div class="container ms-2 me-2 w-75 mt-5 mb-5">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 gy-4">
            <div class="col">
                <div class="card text-center">
                    <img src="~/Images/card1.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-row">
                                <h6 class="card-title">Blood type: A+</h6>
                                <h6 class="card-title">Date required: 09.09.2022</h6>
                                <h6 class="card-title">Location: Ferizaj</h6>
                            </div>
                        </div>
                        <p class="card-text">We need two blood bags of 300ml at "Spitali Rajonal Idriz Seferi". </p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="~/Images/card1.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h6 class="card-title">Blood type: A+</h6>
                            <h6 class="card-title">Date required: 09.09.2022</h6>
                            <h6 class="card-title">Location: Ferizaj</h6>
                        </div>
                        <p class="card-text">We need two blood bags of 300ml at "Spitali Rajonal Idriz Seferi". </p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="~/Images/card1.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h6 class="card-title">Blood type: A+</h6>
                            <h6 class="card-title">Date required: 09.09.2022</h6>
                            <h6 class="card-title">Location: Ferizaj</h6>
                        </div>
                        <p class="card-text">We need two blood bags of 300ml at "Spitali Rajonal Idriz Seferi". </p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="~/Images/card1.jpg" class="card-img-top h-50 image-card" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h6 class="card-title">Blood type: A+</h6>
                            <h6 class="card-title">Date required: 09.09.2022</h6>
                            <h6 class="card-title">Location: Ferizaj</h6>
                        </div>
                        <p class="card-text">We need two blood bags of 300ml at "Spitali Rajonal Idriz Seferi". </p>

                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a href="#" class="btn text-white" style="background-color: #d1001f">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>