@model List<BloodDonationModel>
@{
    ViewData["Title"] = "Donations";
}
<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of blood donations</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donation in Model)
                {
                    <tr>
                        <td>@donation.Donor.User.Name</td>
                        <td>@donation.Donor.User.Surname</td>
                        <td>@donation.Amount</td>
                        <td>@donation.DonationDate</td>
                        <td>
                            <a href="#" type="button" class="btn btn-primary">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>