@{
    ViewData["Title"] = "About Us";
}

<div class="container-fluid p-0 m-0 aboutUsPage">
    <div class="container-fluid p-0  mb-5 text-center mainContet">
        <video class="mainImage" src="~/Images/video-Veed.mp4" autoplay muted loop></video>
        <div class="container title">
            <h1 class="container mb-5">Welcome to About Us!</h1>
            <p class="container mt-2 text-start">Here you will learn anything you need to know about our Team. Anything from our services, to our team work, long and short term goals and our achivement that were made throughout the proccess!</p>
        </div>
    </div>
    <div class="container-fluid vh-100 sideContent align-items-center text-start p-0 pt-4 pb-5 mb-5 mt-3 row">
        <div class="container col-md-4">
            <h2 class="container mb-5">Our Team Scope!</h2>
            <p class="container mt-3">Our mission is to expand our app with more things around the world for people with blood donation requests.</p>
        </div>
        <div class="container imageHolder col-md-4">
            <img src="~/Images/pexels-fox-1595385.jpg" class="imageContent" />
            <img src="~/Images/pexels-rfstudio-3810788.jpg" class="imageSmall" />
        </div>
    </div>
    <br /><br />
    <div class="container-fluid sideContent align-items-center text-start p-0 pt-3 pb-2 mb-1 mt-2 row">
        <div class="container col-md-3">
            <div class="imageHolder mb-3">
                <img src="~/Images/pexels-kindel-media-7688161.jpg" class="imageContent" />
                <img src="~/Images/pexels-fauxels-3184418.jpg" class="imageSmall" />
            </div>
            <br />
            <h2 class="container mb-1 mt-4">CO DELIVER</h2>
            <p class="container mt-5 mb-5">We work in partnership with your team to co-deliver the best products and projects. Our collaborative approach is backed by our commitment to seamless integration with your existing team – adding value and achieving results.</p>
        </div>
        <div class="container col-md-3">
            <div class="imageHolder mb-3">
                <img src="~/Images/pexels-photo-3183150.jpeg" class="imageContent" />
                <img src="~/Images/pexels-fox-1595385.jpg" class="imageSmall" />
            </div>
            <br />
            <h2 class="container mb-1 mt-4">LONG TERM</h2>
            <p class="container mt-3">We work with clients on a long-term basis to assist with project delivery, maintenance, measurement and future development.</p>
        </div>
    </div>
    <br />
    <div class="container-fluid text-center p-0 m-0 pt-5 pb-5" style="position: relative">
        <div class="container-fluid row justify-content-center align-content-center">
            <div class="col-md-3">
                <div class="imageHolder mb-3">
                    <img src="~/Images/pexels-fox-1595391.jpg" class="imageContent" />
                    <img src="~/Images/pexels-fox-1595385.jpg" class="imageSmall" />
                </div>
            </div>
            <br />
            <div class="col-md-3">
                <h2 class="container mb-1 mt-4">SHORT TERM</h2>
                <p class="container mt-3 text-start">Choose to engage the Prodigies team on a short-term basis to help with project roadblocks or impending deadlines.</p>
            </div>

        </div>
    </div>
    <br /><br /><br />
    <div class="container-fluid valuesBox align-items-center text-center m-0">
        <div class="backgroundImage container-fluid m-0"></div>
        <div class="backgroundContent container-fluid m-0">
            <div class="articleTitle container-fluid">
                <h1>Values we live by!</h1>
            </div>
            <div class="row p-0 pt-0 pb-3 m-0">
                <div class="col-md">
                    <h2>*</h2>
                    <h2>EXCELLENCE</h2>
                    <h5>We pursue growth, always educating ourselves and others.</h5>
                </div>
                <div class="col-md">
                    <h2>*</h2>
                    <h2>PASSION</h2>
                    <h5>We work with intense enthusiasm every day.</h5>
                </div>
                <div class="col-md">
                    <h2>*</h2>
                    <h2>RESPECT</h2>
                    <h5>We have respect for each other, our customers and the work we are doing.</h5>
                </div>
                <div class="col-md">
                    <h2>*</h2>
                    <h2>CUSTOMER FOCUS</h2>
                    <h5>We exceed our customers’ expectations with a commitment to their success.</h5>
                </div>
                <div class="col-md">
                    <h2>*</h2>
                    <h2>CONNECTION</h2>
                    <h5>We have fun, we smile and we treat each other like a family, building open and honest relationships with communication.</h5>
                </div>
            </div>
            <div class="container-fluid contact">
                <h1>Let’s create something amazing together</h1>
                <br />
            </div>
        </div>
    </div>
</div>