@{
    ViewData["Title"] = "Donation Benefits";
}

<section id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active drk">
            <img class="d-block w-100 vh-100 image-slider" src="~/Images/card1.jpg" alt="First slide">
            <div class="carousel-caption d-flex flex-column justify-content-center  h-100">
                <h5>Donate blood to contribute</h5>
                <h1 style="font-weight: 800">Every drop counts, every drop saves.</h1>
                <h1 style="font-weight: 800">Give blood, save lives.</h1>
            </div>
        </div>
        <div class="carousel-item drk">
            <img class="d-block w-100 vh-100 image-slider" id="img-slider" src="~/Images/card2.jpg" alt="Second slide">
            <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                <h5>Donate blood to contribute</h5>
                <h1 style="font-weight: 800">Every drop counts, every drop saves.</h1>
                <h1 style="font-weight: 800">Give blood, save lives.</h1>
            </div>
        </div>
        <div class="carousel-item drk">
            <img class="d-block w-100 vh-100 image-slider" src="~/Images/card3.jpg" alt="Third slide">
            <div class="carousel-caption d-flex flex-column justify-content-center  h-100">
                <h5>Donate blood to contribute</h5>
                <h1 style="font-weight: 800">Every drop counts, every drop saves.</h1>
                <h1 style="font-weight: 800">Give blood, save lives.</h1>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</section>

<section class="container-fluid w-100 p-0 bg-white d-flex justify-content-center">
    <div class="container ms-2 me-2 w-75 mt-5 mb-4">
        <div>
            <h1 class="mb-5">Donating Blood</h1>
            <h4 class="fw-bold"><i class="bi bi-file-earmark-text me-2 fs-5 icon-color"></i><span class="span-border">What to Expect When You Give Blood</span></h4>
            <p>
                If you’ve decided to donate blood, you may be curious about what to expect.
                Giving blood is a simple, safe way to make a big difference in people’s lives.
                Knowing what will happen before, during, and after you donate can help you prepare for the process.
            </p>
        </div>
        <div id="benefits">
            <h4 class="fw-bold"><i class="bi bi-clipboard-heart me-2 fs-5 icon-color"></i><span class="span-border">Blood Donation Benefits</span></h4>
            <p>
                Donating blood can help:
            </p>
            <ol style="list-style-type: inherit">
                <li class="h6">People who go through disasters or emergency situations</li>
                <li class="h6">People who lose blood during major surgeries</li>
                <li class="h6">People who have lost blood because of a gastrointestinal bleed</li>
                <li class="h6">Women who have serious complications during pregnancy or childbirth</li>
                <li class="h6">People with cancer or severe anemia sometimes caused by thalassemia or sickle cell disease</li>
            </ol>
            <p>There are also potential benefits for people who regularly donate blood:</p>
            <ol style="list-style-type: inherit">
                <li class="h6">
                    <strong class="text-muted">Lower iron levels in blood.</strong> This is a plus if your iron levels are too high.
                    Donating blood removes some red blood cells, which carry iron throughout your body.
                </li>
                <li class="h6">
                    <strong class="text-muted">Better cholesterol and triglyceride levels.</strong> In one study, researchers checked levels of total cholesterol,
                    triglycerides, HDL (“good”) cholesterol, and LDL (“bad”) cholesterol in 52 people who regularly gave blood and 30 other people.
                    Levels of triglycerides, total, and LDL cholesterol were all lower in those who regularly gave blood. It’s not clear why.
                </li>
                <li class="h6">
                    <strong class="text-muted">Emotional benefits</strong> from knowing you helped someone else, even if it’s a stranger.
                    There may also be benefits from taking part in a blood drive with other people from teaming up to do good.
                </li>
            </ol>
        </div>
        <div>
            <h4 class="fw-bold mt-4"><i class="bi bi-heart-pulse me-2 fs-5 icon-color"></i><span class="span-border">Before You Donate</span></h4>
            <p>If you think you want to donate blood, it’s important to make sure you meet the requirements and that you properly prepare.</p>
            <p>
                <strong class="text-muted">Requirements for blood donation.</strong> First, you’ll need to find a blood bank or blood drive and make an appointment.
                Be sure to ask about any specific requirements for donors and what kinds of identification you need to bring with you.
            </p>
            <p>You’ll need to be:</p>
            <ol style="list-style-type: inherit">
                <li class="h6">At least 18 years old to donate whole blood (donate platelets) in most states</li>
                <li class="h6">Weigh at least 110 pounds</li>
                <li class="h6">In good health and feeling well</li>
            </ol>
            <p>
                Your local blood bank may have more requirements, so check with them. When you call, tell the person on
                the phone if you have health concerns or problems or if you’ve recently traveled outside the country.
            </p>
            <p>
                In the weeks before your appointment, you’ll want to make sure you’re getting a healthy amount of iron from food.
                Meat and seafood, as well as vegetables like spinach and sweet potatoes, are good sources of iron. Certain breads,
                fruits, and other foods like beans and tofu can be good options too.
            </p>
            <p>
                The day of your appointment, prepare yourself by drinking plenty of fluids and wearing comfortable clothes with sleeves
                that you can easily roll up above your elbow. Make sure you have a list of all the prescription and over-the-counter
                medications you’re taking, as well as the proper forms of ID.
            </p>
            <p>
                <strong class="text-muted">How often can you donate blood?</strong> If you donate whole blood, you need to wait 56 days
                between donations -- possibly longer, depending on the policy of your blood bank.
            </p>
        </div>
    </div>
</section>