@model Donor

<div class="container col-7 card">
    <div class="card-body">
        <h5 class="card-title">Lockout User</h5>
        <form class="row g-3" asp-controller="Donors" asp-action="LockoutDonor" method="post">
            <div class="container col-8">
                <div class="mb-3 mt-2">
                    <label class="form-label">Are you sure you want to lockout this User? </label>
                    <input type="hidden" asp-for="@Model.DonorId"/>
                </div>
                <div class="text-start mt-2 mb-2">
                    <button type="submit" class="btn btn-info">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>