@model HospitalModel

@{
    ViewData["Title"] = "CreateHospital";
}

<div class="d-flex justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="card-title">Create Hospital</h5>
                <form asp-action="CreateHospital" asp-controller="Hospital" asp-area="SuperAdmin" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row mb-3">
                        <label asp-for="HospitalName" class="col-lg-2 col-10 col-form-label"></label>
                        <div class="col-lg-10">
                            <input asp-for="HospitalName" class="form-control" required placeholder="Hospital Name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="ContactNumber" class="col-lg-2 col-10 col-form-label"></label>
                        <div class="col-lg-10">
                            <input asp-for="ContactNumber" class="form-control" required placeholder="Contact Number" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="HospitalCode" class="col-lg-2 col-10 col-form-label"></label>
                        <div class="col-lg-10">
                            <input asp-for="HospitalCode" class="form-control" id="HospitalCode" required placeholder="Hospital Code" />
                            @if (ViewBag.hospitalCodeInUse != null)
                            {
                                <p class="text-danger">@ViewBag.hospitalCodeInUse</p>
                            }
                            <span class="text-danger d-none" id="HospitalCodeIsTaken">This hospital code is already taken!</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Location" class="col-lg-2 col-10 col-form-label"></label>
                        <div id="map" style="width:100%; height: 500px"></div>
                        <div class="col-sm-12 d-flex justify-content-center mt-4 d-none">
                            <input asp-for="Location.Latitude" id="latitude" class="form-control" required />
                            <input asp-for="Location.Longitude" id="longitude" class="form-control" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CityId" class="col-lg-2 col-10 col-form-label"></label>
                        <div class="col-lg-10">
                            <select asp-for="CityId" class="form-control" asp-items="@ViewBag.CityId"></select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Create" class="btn btn-info" required />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/map.js"></script>
<script src="~/js/AvailableHospitalCode.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK9UFRdqsHtglFgWc8deAWesQaYr-BDcY&callback=initMap">
</script>