@page
@using BloodBankApp.Enums
@using BloodBankApp.ExtensionMethods
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<div class="container-fluid bgForm" >
    <div class="container-fluid d-flex justify-content-center" style="padding-top: 7%; padding-bottom: 7%; ">
        <div class="container ms-2 me-2 w-75 mt-4 mb-4 shadow rounded p-4 bg-customGr">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4 class="mt-3 text-danger">Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 gy-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.Name" class="mb-1 mt-2"></label>
                            <input asp-for="Input.Name" class="form-control text-capitalize" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.Surname" class="mb-1 mt-2"></label>
                            <input asp-for="Input.Surname" class="form-control text-capitalize" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.UserName" class="mb-1 mt-2"></label>
                            <input asp-for="Input.UserName" class="form-control" id="UserName" required/>
                            <span class="text-danger d-none" id="UserNameIsTaken">This username is already taken!</span>                 
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 gy-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.DateOfBirth" class="mb-1 mt-2"></label>
                            <input asp-for="Input.DateOfBirth" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber" class="mb-1 mt-2"></label>
                            <input asp-for="Input.PhoneNumber" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="mb-1 mt-2"></label>
                            <input asp-for="Input.Email" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 gy-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.Password" class="mb-1 mt-2"></label>
                            <input asp-for="Input.Password" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="mb-1 mt-2"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.PersonalNumber" class="mb-1 mt-2"></label>
                            <input asp-for="Input.PersonalNumber" class="form-control" id="PersonalNumber" required/>
                            <span class="text-danger d-none" id="PersonalNumberIsTaken">This personal number is already taken!</span>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 gy-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.Gender" class="mb-1 mt-2"></label>
                            <div class="d-flex align-items-center justify-content-evenly">
                                @foreach (var c in Enum.GetValues(typeof(Gender))) {
                                    <div class="form-check">
                                        <label class="form-check-label me-2" asp-for="Input.Gender">@c.ToString().ToTitleCase()</label>
                                        <input class="form-check-input" type="radio" asp-for="Input.Gender" value="@((int)c)" required/>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.BloodTypeId" class="mb-1 mt-2"></label>
                            <select class="form-select" asp-items="ViewBag.BloodType" asp-for="Input.BloodTypeId" aria-label="Default select example"> 
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Input.CityId" class="mb-1 mt-2"></label>
                            <select class="form-select" asp-items="ViewBag.City" asp-for="Input.CityId" aria-label="Default select example">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-danger">Register</button>
                </div>
                <p class="small mb-0"> <a asp-area="Identity" asp-page="/Account/RegisterMedicalStaff">Register as Hospital Admin</a></p>
            </form>
        </div>
    </div>
</div>
<script src="~/js/AvailablePersonalNumber.js"></script>
<script src="~/js/AvailableUsername.js"></script>