
.footer {
    background: #f5f3f4;
}

ul li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}
/* Footer start */
.footer-icon {
    font-size: 1.6rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-links li {
    font-size: 1.4rem;
    text-align: left;
    padding-left: 1rem;
}

.footer-links ul {
    margin: 0;
}
@media (max-width: 768px){
    
    .footer-row {
        flex-direction:column;
        align-items: center;
        gap: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }


}

/* Footer end */

/* Register, Login start */
.bg-custom {
    background-color: #FEFBF3;
    color: black;
}

#btn-sign-up {
    color: #740707;
    background-color: #f5f3f4;
}

/* Register end */

.login-card {
    color: #f5f3f4;
    background-color: #740707;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
    -moz-box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
    box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
}

#btn-login {
    color: #740707;
    background-color: #f5f3f4;
}
/*Register, Login end*/

*{
    margin: 0;
    padding: 0;
}