
.footer {
    background: #f5f3f4;
}
ul li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}
/* Footer start */
.footer-icon {
    font-size: 1.6rem;
}

.social-links {
    display:flex;
    justify-content:center;
    gap:1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    .footer-links li {
        font-size: 1.4rem;
        text-align: left;
        padding-left:1rem;
    }
    .footer-links ul{
        margin:0;
    }
/* Footer end */

/* Register, Login start */
.bg-custom {
    background-color: #FEFBF3;
    color: black;
}
/*Register, Login end*/

*{
    margin: 0;
    padding: 0;
}