
.footer {
    background: #DFE2E7;
}

.custom-h {
    min-height: 60vh;
}

ul li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}
/* Footer start */
.footer-icon {
    font-size: 1.6rem;
}

.social-links {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .footer-links li {
        font-size: 1.4rem;
        text-align: left;
        padding-left: 1rem;
    }

    .footer-links ul {
        margin: 0;
    }

@media (max-width: 768px) {

    .footer-row {
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

/* Footer end */

/* Register, Login start */
.bg-custom {
    background-color: #FEFBF3;
    color: black;
}
/*Register, Login end*/

/*Home Page, Start*/

* {
    font-family: 'Montserrat', sans-serif;
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

.bg-custom1 {
    background-color: #f5f3f4 !important;
}

.bg-custom1-h {
    background-color: #f5f3f4 !important;
}

    .bg-custom1-h:hover {
        background-color: white !important;
    }

.bg-custom2 {
    background-color: #d1001f;
}

h1 {
    font-weight: 800;
}

@media only screen and (max-width: 1000px) {
    .image-slider {
        width: 100%;
        height: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    .image-card {
        height: auto !important;
    }
}

@media (max-width: 576px) {
    .order-sm-last {
        order: 6 !important;
    }
}

/* donors-organization start */

#donors-organization h1 {
    color: #0f0f0f;
    font-size: 2.6rem;
    font-weight: 800;
}

/* donors-organization end */

/*Home Page, end*/


#btn-sign-up {
    color: #740707;
    background-color: #f5f3f4;
}

/* Register end */

.login-card {
    color: #f5f3f4;
    background-color: #740707;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
    -moz-box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
    box-shadow: 10px 10px 20px 3px rgba(120,120,120,0.72);
}

#btn-login {
    color: #740707;
    background-color: #f5f3f4;
}
/*Register, Login end*/

* {
    margin: 0;
    padding: 0;
}

.span-border {
    border-bottom: 2px solid #d1001f;
}

.icon-color {
    color: #d1001f;
}

@media (max-width: 700px) {

    .donator-table {
        font-size: 10px !important;
    }
}

@media (max-width: 768px) {
    #container-issue {
        width: 100% !important;
    }

    #container-issue-inside {
        width: 100% !important;
    }
}